## ANALYSIS - CASE STUDY STATISTA

In [55]:
import pandas as pd
import yfinance as yf 
import numpy as np

# 1. Read tickers

In [ ]:
#data downloaded from github
my_tickers = pd.read_csv("data/input/constituents.csv")
my_tickers.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [57]:
my_tickers.shape

(503, 8)

In [58]:
#use 200 of them
my_tickers = my_tickers[:200]

# 2. Clean data

In [59]:
duplicated = my_tickers[my_tickers['Security'].str.contains('Class')]
print(duplicated)

   Symbol                 Security             GICS Sector  \
19  GOOGL  Alphabet Inc. (Class A)  Communication Services
20   GOOG  Alphabet Inc. (Class C)  Communication Services

               GICS Sub-Industry      Headquarters Location  Date added  \
19  Interactive Media & Services  Mountain View, California  2014-04-03
20  Interactive Media & Services  Mountain View, California  2006-04-03

        CIK Founded
19  1652044    1998
20  1652044    1998

In [60]:
my_tickers = my_tickers.drop([20])

In [61]:
#Check for empties
my_tickers.isnull().sum()

Symbol                   0
Security                 0
GICS Sector              0
GICS Sub-Industry        0
Headquarters Location    0
Date added               0
CIK                      0
Founded                  0
dtype: int64

In [62]:
my_tickers.shape

(199, 8)

# 3. Extract data

In [63]:
# extract tickers to use
tickers_list = my_tickers['Symbol'].tolist()
print(tickers_list[:5])

['MMM', 'AOS', 'ABT', 'ABBV', 'ACN']

In [64]:
# Convert the list of tickers to enable data extraction
tickers_list = [yf.Ticker(ticker) for ticker in tickers_list]
#print(tickers_list[:5])

In [98]:
def company_data(tickers_list):
    row_data = []

    for ticker in tickers_list:
        info = ticker.info

        try:
            finance = ticker.financials
            balance = ticker.balance_sheet

            # Fetch last 3 years
            def last_three(df, metric):
                #most data for 2025 is not available
                allowed = {2024,2023,2022} 
                if df is None or metric not in df.index:
                    return[]
                
                #sort
                cols = sorted(df.columns, reverse=True)

                results = []
                for col in cols[:3]:
                    year = col.year
                    if year not in allowed:
                        continue
                    val = df.loc[metric, col]
                    results.append((year, val / 1e6 if val is not None else None))

                    if len(results) == 3:
                        break
                return results
            
            rev_yrs = last_three(finance, "Total Revenue")
            net_yrs = last_three(finance, "Net Income")
            assets_yrs = last_three(balance, "Total Assets")
                


            row ={
                "Ticker":info.get("symbol"),
                "Company name": info.get("shortName") or info.get("longName"),
                "Country":info.get("country"),
                "Industry":info.get("industry"),
                "Revenue unit": info.get("currency"),
                "Market Cap (millions)":info.get("marketCap")/ 1e6 if info.get("marketCap") is not None else None
            }

            for year, value in rev_yrs:
                row[f"Revenue_{year} (millions)"] = value

            for year, value in net_yrs:
                row[f"NetIncome_{year} (millions)"] = value

            for year, value in assets_yrs:
                row[f"TotalAssets_{year} (millions)"] = value

            row_data.append(row) 

        except Exception as e:
            print(f"error processing ticker{ticker}")
        
            row_data.append({
            "Ticker":info.get("symbol"),
            "Company name": None,
            "Country":None,
            "Industry":None,
            "Revenue unit":None,
            "Revenue_Y1 (millions)":None,"Revenue_Y2 (millions)": None, "Revenue_Y3 (millions)": None,
            "Net Income_Y1 (millions)": None,"NetIncome_Y2 (millions)": None, "NetIncome_Y3 (millions)": None,
            "Total Assets_Y1 (millions)": None, "TotalAssets_Y2 (millions)": None, "TotalAssets_Y3 (millions)": None,
            "Market Cap":None
        })

    my_data = pd.DataFrame(row_data)
    #round up for readabilityu
    numeric_cols = [c for c in my_data.columns if "millions" in c]
    my_data[numeric_cols] = my_data[numeric_cols].astype(float).round(2)


    return my_data

company_data(tickers_list)

my_data = company_data(tickers_list)

In [99]:
# check for missing values
my_data.isnull().sum()

Ticker                          0
Company name                    2
Country                         2
Industry                        2
Revenue unit                    2
Market Cap (millions)           2
Revenue_2024 (millions)         2
Revenue_2023 (millions)         2
Revenue_2022 (millions)        42
NetIncome_2024 (millions)       2
NetIncome_2023 (millions)       2
NetIncome_2022 (millions)      42
TotalAssets_2024 (millions)     2
TotalAssets_2023 (millions)     2
TotalAssets_2022 (millions)    40
dtype: int64

In [100]:
my_data[my_data.isnull().any(axis=1)]

,Ticker,Company name,Country,Industry,Revenue unit,Market Cap (millions),Revenue_2024 (millions),Revenue_2023 (millions),Revenue_2022 (millions),NetIncome_2024 (millions),NetIncome_2023 (millions),NetIncome_2022 (millions),TotalAssets_2024 (millions),TotalAssets_2023 (millions),TotalAssets_2022 (millions)
4,ACN,Accenture plc,Ireland,Information Technology Services,USD,155713.18,64896.46,64111.74,NaN,7264.79,6871.56,NaN,55932.36,51245.30,NaN
10,APD,"Air Products and Chemicals, Inc",United States,Specialty Chemicals,USD,58107.18,12100.60,12600.00,NaN,3828.20,2300.20,NaN,39574.60,32002.50,NaN
22,AMCR,Amcor plc,Switzerland,Packaging & Containers,USD,19667.23,13640.00,14694.00,NaN,730.00,1048.00,NaN,16524.00,17003.00,NaN
33,ADI,"Analog Devices, Inc.",United States,Semiconductors,USD,129924.82,9427.16,12305.54,NaN,1635.27,3314.58,NaN,48228.28,48794.48,NaN
37,AAPL,Apple Inc.,United States,Consumer Electronics,USD,4138242.67,391035.00,383285.00,NaN,93736.00,96995.00,NaN,364980.00,352583.00,NaN
38,AMAT,"Applied Materials, Inc.",United States,Semiconductor Equipment & Materials,USD,200953.05,27176.00,26517.00,NaN,7177.00,6856.00,NaN,34409.00,30729.00,26726.0
46,ATO,Atmos Energy Corporation,United States,Utilities - Regulated Gas,USD,28517.86,4165.19,4275.36,NaN,1042.90,885.86,NaN,25194.46,22516.97,NaN
47,ADSK,"Autodesk, Inc.",United States,Software - Application,USD,64611.42,5497.00,5005.00,NaN,906.00,823.00,NaN,9912.00,9438.00,NaN
48,ADP,"Automatic Data Processing, Inc.",United States,Software - Application,USD,103419.36,19202.60,18012.20,NaN,3752.00,3412.00,NaN,54362.70,50971.00,NaN
49,AZO,"AutoZone, Inc.",United States,Auto Parts,USD,65898.91,18490.27,17457.21,NaN,2662.43,2528.43,NaN,17176.54,15985.88,NaN
57,BDX,"Becton, Dickinson and Company",United States,Medical Instruments & Supplies,USD,55611.46,20178.00,19372.00,NaN,1705.00,1484.00,NaN,57286.00,52780.00,NaN
58,BRK.B,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,BBY,"Best Buy Co., Inc.",United States,Specialty Retail,USD,16755.57,43452.00,46298.00,NaN,1241.00,1419.00,NaN,14967.00,15803.00,NaN
60,TECH,Bio-Techne Corp,United States,Biotechnology,USD,10051.48,1159.06,1136.70,NaN,168.10,285.26,NaN,2703.87,2638.69,NaN
71,BR,"Broadridge Financial Solutions,",United States,Information Technology Services,USD,26624.39,6506.80,6060.90,NaN,698.10,630.60,NaN,8242.40,8233.20,NaN
73,BF.B,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,CPB,The Campbell's Company,United States,Packaged Foods,USD,9082.81,9636.00,9357.00,NaN,567.00,858.00,NaN,15235.00,12058.00,NaN
83,CAH,"Cardinal Health, Inc.",United States,Medical Distribution,USD,50431.92,226827.00,204979.00,NaN,852.00,330.00,NaN,45121.00,43349.00,NaN
84,KMX,CarMax Inc,United States,Auto & Truck Dealerships,USD,5801.79,26536.04,29684.87,NaN,479.20,484.76,NaN,27196.80,26182.74,NaN
91,COR,"Cencora, Inc.",United States,Medical Distribution,USD,71570.00,293958.60,262173.41,NaN,1509.12,1745.29,NaN,67101.67,62558.75,NaN
104,CTAS,Cintas Corporation,United States,Specialty Business Services,USD,74956.86,9596.62,8815.77,NaN,1571.59,1348.01,NaN,9168.82,8546.36,NaN
105,CSCO,"Cisco Systems, Inc.",United States,Communication Equipment,USD,303997.22,53803.00,56998.00,NaN,10320.00,12613.00,NaN,124413.00,101852.00,NaN
108,CLX,Clorox Company (The),United States,Household & Personal Products,USD,13166.56,7093.00,7389.00,NaN,280.00,149.00,NaN,5751.00,5945.00,NaN
116,CAG,"ConAgra Brands, Inc.",United States,Packaged Foods,USD,8538.58,12050.90,12277.00,NaN,347.20,683.60,NaN,20862.30,22052.60,NaN
119,STZ,"Constellation Brands, Inc.",United States,Beverages - Brewers,USD,23739.22,9961.80,9452.60,NaN,1727.40,-71.00,NaN,25691.70,24662.30,NaN
122,CPRT,"Copart, Inc.",United States,Specialty Business Services,USD,37733.33,4236.82,3869.52,NaN,1363.02,1237.74,NaN,8427.76,6737.88,NaN
127,COST,Costco Wholesale Corporation,United States,Discount Stores,USD,405156.23,254453.00,242290.00,NaN,7367.00,6292.00,NaN,69831.00,68994.00,NaN
129,CRWD,"CrowdStrike Holdings, Inc.",United States,Software - Infrastructure,USD,127776.32,3055.56,2241.24,NaN,89.33,-183.24,NaN,6646.52,5026.54,NaN
135,DRI,"Darden Restaurants, Inc.",United States,Restaurants,USD,20938.11,11390.00,10487.80,NaN,1027.60,981.90,NaN,11323.00,10241.50,NaN
139,DECK,Deckers Outdoor Corporation,United States,Footwear & Accessories,USD,13058.67,4287.76,3627.29,NaN,759.56,516.82,NaN,3135.58,2556.20,NaN
140,DE,Deere & Company,United States,Farm & Heavy Construction Machinery,USD,125565.30,50518.00,60248.00,NaN,7100.00,10166.00,NaN,107320.00,104087.00,90030.0
141,DELL,Dell Technologies Inc.,United States,Computer Hardware,USD,89660.96,88425.00,102301.00,NaN,3388.00,2442.00,NaN,82126.00,89611.00,NaN
147,DG,Dollar General Corporation,United States,Discount Stores,USD,24099.41,38691.61,37844.86,NaN,1661.27,2415.99,NaN,30795.59,29083.37,NaN
148,DLTR,"Dollar Tree, Inc.",United States,Discount Stores,USD,23125.58,16781.10,15411.50,NaN,-998.40,1615.40,NaN,22023.50,23022.10,NaN
154,DHI,"D.R. Horton, Inc.",United States,Residential Construction,USD,47404.62,36801.40,35460.40,NaN,4756.40,4745.70,NaN,36104.30,32582.40,NaN
164,EA,Electronic Arts Inc.,United States,Electronic Gaming & Multimedia,USD,50528.94,7562.00,7426.00,NaN,1273.00,802.00,NaN,13420.00,13459.00,NaN
166,EMR,Emerson Electric Company,United States,Specialty Industrial Machinery,USD,75066.27,17492.00,15165.00,NaN,1968.00,13219.00,NaN,44246.00,42746.00,NaN
177,EL,"Estee Lauder Companies, Inc. (T",United States,Household & Personal Products,USD,33899.09,15608.00,15910.00,NaN,390.00,1006.00,NaN,21677.00,23415.00,NaN
187,FFIV,"F5, Inc.",United States,Software - Infrastructure,USD,13892.71,2816.12,2813.17,NaN,566.78,394.95,NaN,5613.00,5248.33,NaN
188,FDS,FactSet Research Systems Inc.,United States,Financial Data & Stock Exchanges,USD,10375.43,2203.06,2085.51,NaN,537.13,468.17,NaN,4055.04,3962.92,NaN
189,FICO,Fair Isaac Corporation,United States,Software - Application,USD,43346.52,1717.53,1513.56,NaN,512.81,429.38,NaN,1717.88,1575.28,NaN
192,FDX,FedEx Corporation,United States,Integrated Freight & Logistics,USD,65048.20,87693.00,90155.00,NaN,4331.00,3972.00,NaN,87007.00,87143.00,NaN

In [102]:
my_data[my_data["Company name"].isna()]

,Ticker,Company name,Country,Industry,Revenue unit,Market Cap (millions),Revenue_2024 (millions),Revenue_2023 (millions),Revenue_2022 (millions),NetIncome_2024 (millions),NetIncome_2023 (millions),NetIncome_2022 (millions),TotalAssets_2024 (millions),TotalAssets_2023 (millions),TotalAssets_2022 (millions)
58,BRK.B,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,BF.B,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
my_data = my_data.dropna()

In [108]:
my_data.isnull().sum()

Ticker                         0
Company name                   0
Country                        0
Industry                       0
Revenue unit                   0
Market Cap (millions)          0
Revenue_2024 (millions)        0
Revenue_2023 (millions)        0
Revenue_2022 (millions)        0
NetIncome_2024 (millions)      0
NetIncome_2023 (millions)      0
NetIncome_2022 (millions)      0
TotalAssets_2024 (millions)    0
TotalAssets_2023 (millions)    0
TotalAssets_2022 (millions)    0
dtype: int64

In [109]:
my_data.shape

(157, 15)

In [ ]:
%pip install XlsxWriter

In [112]:
excel_file = "data/Case_study_output.xlsx"

my_data.to_excel(excel_file, index=False, sheet_name="Financials")

print(f"Saved Excel file {excel_file}")

Saved Excel file data/Case_study_output.xlsx

In [113]:
my_data.to_csv("data/Case_study_output.csv", index=False)
print("Saved data to my_data.csv")

Saved data to my_data.csv